 /*
 I found how to do comments
 faded white = rgba(255, 255, 255, 0.7);
 */
* {
  box-sizing: border-box;
}

#alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  position: fixed;
  top: 100px;
  margin: 0, auto;
  top: 130px;
  width: 100%;
  z-index: 9998;
  transition: top 0.3s;
}

.closebutton {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebutton:hover {
  color: black;
}

.lb {
  text-decoration: line-through;
}

body {
  z-index: 9990;
}

html {

  background-image: url("Img/Snome Logo Project (Background).png");

  background-size: cover;
  background-color: black;
  background-position: center;
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Constantia;
}

a, a::after {
  text-decoration: none;
  color: black;
  font-family: Copperplate;
  background-color: paleturquoise;
  border-radius: 10px;
}

a:hover {
  color: paleturquoise;
  background-color: black;
}

h6 {
  display: inline;
  font-size: 15px;
}

header {
  border-bottom: 5px groove gray;
  position: fixed;

  background-image: url("Img/Snome Logo Project (Website Inverted).png");

  background-size: cover;
  background-color: black;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  z-index: 9999;
  margin: 0 auto;
}

header a {
  display: inline-block;
  color: black;
  font-size: 30px;
  width: 350px;
  height: 50px;
  top: 20px;
  position: relative;
  margin: 0 auto;
  background-color: paleturquoise;
  border-radius: 15px;
}

header a:hover {
  background-color: black;
  color: paleturquoise;
}


span {
  font-size: 30px;
  color: dimgrey;
  font-family: Eurostile;
}

p {
  font-size: 18px;
}

img {
  width: 150px;
  height: 150px;
}

#aboutMeShortcut {
  border-radius: 10px 20px 20px 10px;
}

#musicShortcut {
  border-radius: 25px;
}

#merchandiseShortcut {
  border-radius: 20px 10px 10px 20px;
}

.grid {
  height: 700px;
  width: 1000px;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2px;
  justify-items: center;
  justify-content: center;
}

.grid a, grid a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.merch {
  border: 2px solid rgba(0, 0, 0, 0);
  width: 300px;
  height: 200px;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.4s ease;
}

.merch:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  font-family: Garamond;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.broken-link {
  text-decoration: line-through;
}

#content {
  position: relative;
  border-top: 5px inset white;
  bottom: 0px;
  width: 96%;
  margin: 0 auto;
}

#music {

  background-image: url("Img/Snome Logo Project (Website Inverted).png");

  background-size: cover;
  background-color: black;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  color: gray;
  margin-top: 200px;
}

#music p, #music ul {
  width: 85%;
  margin: 0 auto;
  font-size: 17px;
}

#music a {
  font-size: 20px;
}

#music h2, #merchandise h2 {
  color: dimgray;
}

#music-content {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  padding: 20px;
}

#merchandise-content {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  padding: 20px;
  height: 600px;
}

#merchandise {
  height: 800px;
  align-content: center;
  margin: 0, auto;
  margin-top: 200px;

  background-image: url("Img/Snome Logo Project (Website Inverted).png");

  background-size: cover;
  background-color: black;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 30px;
}

#merchandise p {
  align-self: center;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 85%;
  color: gray;
}

#notHead {
  margin-top: 500px;
  width: 100%;
}

#title-content {
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
  margin: 0 auto;
  width: 500px;
  margin-bottom: 50px;
  font-family: Didot;
  z-index: 9999;
}

#parallax {
  z-index: -1;
  position: fixed;
  width: 60%;
  height: 150%;
  margin: 0 auto;
  align-self: center;
  top: 0;
  left: 0;
  right: 0;
}


#container {
	text-align: center;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: orange;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: orange;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to {
		background-color: transparent
	}
	50% {
		background-color: orange;
	}
}
